/*for making root for colors*/
/*for import the css file we use @import*/
@import 'utilities.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialised;
     font-family: 'Poppins', sans-serif;
}
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternay:#898989;
    --light:#2F2F2F;
}
header{
    background: var(--dark);
    clip-path: polygon( 0 0 , 100% 0, 100% 100% , 70% 87% , 0 100%);
    
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;

}
header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav {
    padding: 2rem 0;

}
header nav .branding {
    margin-right: 3rem;

}
.hero{
    padding: 3rem 0;
}
header nav .branding a {
      margin-right: 3rem;
    
}
header nav .left a:hover {
    color: var(--primary);
    
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;

}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;  
}
.hero .right span{
    color: var(--primary);
}
.hero .right{
    margin-top: -7rem;
}
section {
    padding: 6rem 0;
}
section.about .about-me-img{
   height: 450px;
    
}
section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;   
}
section.about span{
    color: var(--primary);
}